RegisterApiCallerForm/Service References/CompanyServiceReference/LegalPersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://registerorgwcf.ilenc.ir/LegalPersonService/LegalPersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" />
  <xs:element name="InquiryByNationalCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q1:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNationalCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByNationalCodeResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q3:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByNameResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByArchiveName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q5:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByArchiveNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByArchiveNameResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByNationalCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q7:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByNationalCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="ValidateOnlyByNationalCodeResult" nillable="true" type="q8:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q9:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="ValidateOnlyByNameResult" nillable="true" type="q10:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByArchiveName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q11:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOnlyByArchiveNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="ValidateOnlyByArchiveNameResult" nillable="true" type="q12:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCompareNationalCodeAndName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q13:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCompareNationalCodeAndNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="ValidateCompareNationalCodeAndNameResult" nillable="true" type="q14:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByNationalCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q15:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByNationalCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquirySpecialByNationalCodeResult" nillable="true" type="q16:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q17:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquirySpecialByNameResult" nillable="true" type="q18:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByArchiveName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q19:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquirySpecialByArchiveNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquirySpecialByArchiveNameResult" nillable="true" type="q20:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNationalCodeForSpecificUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q21:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNationalCodeForSpecificUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByNationalCodeForSpecificUnitResult" nillable="true" type="q22:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNameForSpecificUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q23:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByNameForSpecificUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByNameForSpecificUnitResult" nillable="true" type="q24:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByArchiveNameForSpecificUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="param" nillable="true" type="q25:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryByArchiveNameForSpecificUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" minOccurs="0" name="InquiryByArchiveNameForSpecificUnitResult" nillable="true" type="q26:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>