RegisterApiCallerForm/Service References/CompanyServiceReference/LegalPersonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ilenc.NationalCodeWCF.LegalPersonService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parameter" nillable="true" type="tns:Parameter" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchList" nillable="true" type="tns:ArrayOfResult" />
      <xs:element minOccurs="0" name="BreakUpDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstablishmentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FollowUpNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBranch" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBreakUp" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSettle" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChangeDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalPersonType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentLegalPerson" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettleDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
</xs:schema>